.env
.env.prod
.env.*
.git
.gitignore
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
vendor/
node_modules/
docker-compose*.yml
Dockerfile*
README*
*.md
